<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BOOKHUB</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link href="/assets-admin/css/main.css" rel="stylesheet" type="text/css" />
    <style>
    hr {
    background-color:  black;
    }
   
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div class="logo logo-width-1">
                <a href="/admin/home"><h3>BOOKHUB</h3></a>
            </div>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/profile"> <i class="icon material-icons md-person"></i>
                        <span class="text">My Profile</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category/"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Manage Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Account</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Manage Product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product/add">Add product</a>
                        <a href="/admin/product/list">View Product</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Order list 1</a>
                        <a href="#">Order list 2</a>
                        <a href="#">Order detail</a>
                        <a href="#">Order tracking</a>
                        <a href="#">Invoice</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Sellers cards</a>
                        <a href="#">Sellers list</a>
                        <a href="#">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Transaction 1</a>
                        <a href="#">Transaction 2</a>
                        <a href="#">Transaction Details</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Setting sample 1</a>
                        <a href="#">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets-admin/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets-admin/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets-admin/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order Detatils</h2>
                    <p>Details for Order ID: <%= order.oId %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= order.createdAt.toDateString() %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= order.oId %></small><br>
                            <p class="badge rounded-pill 
                            <% if (order.orderStatus === 'Pending') { %> alert-warning
                            <% } else if (order.orderStatus === 'Confirmed' || order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %> alert-success
                            <% } else if (order.orderStatus === 'Cancelled' || order.orderStatus === 'Deleted' || order.orderStatus === 'Returned') { %> alert-danger
                            <% } %>">
                            <%= order.orderStatus %>
                            </p>
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <form action="/admin/update-order-status" method="POST" class="d-inline-block mb-lg-0 mb-15 mw-200">
                                <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="status">
                                    <option value="">Change status</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Deleted">Delete</option>
                                </select>
                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> 
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.user.firstname %> <br> <%= order.user.email %> <br> <%= order.user.mobile %>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: BOOKHUB <br> Pay method:  <%= order.paymentMethod %>  <br> Status: <%= order.orderStatus %>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        Street: <%= order.shippingAddress.street %>,<br>
                                        City: <%= order.shippingAddress.city %>,<br>
                                        State: <%= order.shippingAddress.state %>,<br>
                                        Country: <%= order.shippingAddress.country %>,<br>
                                        Postal Code: <%= order.shippingAddress.postalCode %>,<br>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.items.forEach((item, index) => { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/assets-admin/productImages/<%= item.image[item.image.length - 1] %>" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"><%= item.title %> </div>
                                                </a>
                                            </td>
                                            <td>Rs.<%= item.productPrice %>/-</td>
                                            <td>qty-x<%= item.quantity %> </td>
                                            <td class="text-end">Rs.<%= item.price %>.00/-</td>
                                        </tr>
                                        <tr>
                                            <% }) %>
                                            <td colspan="4">
                                                <hr>
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>Rs. <%= order.billTotal %>/- </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">Rs.<%= order.billTotal %>/- </b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Payment Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-warning text-dark"><%= order.paymentStatus %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a>
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <% if (returnData) { %>
                                        <label class="text-danger">Reason For Returning Order</label>
                                        <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"><%= returnData.reason %></textarea>
                                    <% } else if (order.cancellationReason) { %>
                                        <label class="text-danger">Reason For Cancelation:</label>
                                        <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"><%= order.cancellationReason %></textarea>
                                    <% } else { %>

                                    <% } %>
                                </div>                                
                            </div>
                        </div>               
                    </div>
                </div> 
            </div> 
        </section>
    </main>
    <script src="/assets-admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets-admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets-admin/js/vendors/select2.min.js"></script>
    <script src="/assets-admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets-admin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets-admin/js/main.js" type="text/javascript"></script>
</body>

</html>