<%- include('../userLayout/header') %>
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;    
    }
    
    .main-body {
        padding: 15px;
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col,
    .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem!important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100%!important;
    }

    .shadow-none {
        box-shadow: none!important;
    }

    .cusotm-dark-green {
        background-color: #004643;
    }

    .form-check-input[type=radio],
    .form-check-input[type=checkbox] {
        width: 22px; 
        height: 22px;
        margin-top: 0.2rem;
    }

    .form-check-input[type=checkbox] {
        width: 16px; 
        height: 16px;
    }

    .form-check-label {
        margin-left: 0.5rem;
    }

    .btn-outline-primary {
        border: none;
        border-radius: 12px;
        background-color: rgb(107, 107, 250);
        display: flex;
        align-items: center;
    }

    .close {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px; 
        margin-right: 15px;
        margin-top: 10px;
        cursor: pointer;
        clip-path: circle();
    }

    .close:hover {
        background-color: darkred; 
    }
</style> 
    <main>
        <div class="page-header breadcrumb-wrap bg-white">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span>
                    <a href="/profile">User Profile</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-body">          
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="/assets/imgs/account/profile.jpg" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4><%= user.username %></h4>
                              <p class="text-secondary mb-1"><%= user.email  %></p>
                              <a href="/logout"><button class="btn cusotm-dark-green">Logout</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mt-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <span class="material-symbols-outlined">
                                    developer_guide
                                    </span>
                                <h6 class="mb-0 text-dark"><a href="/orders/history">MY ORDERS</a></h6>
                            </div>
                        </div>
                      </div>
                      <div class="card mt-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <i class="material-symbols-outlined">
                                    folder_shared
                                </i>
                                <h6 class="mb-0 text-dark">   MY STATUS</h6>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="">My Coupons</a></li>
                                <li class="list-group-item"><a href="">Review and Ratings</a></li>
                                <li class="list-group-item"><a href="">MY Notification</a></li>
                                <li class="list-group-item"><a href="">MY Wishlist</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card mb-3">
                        <div class="card-body">
                            <button type="button" class="close" aria-label="Close" id="closeAddressFormButton">
                                <span aria-hidden="true">&times;</span>
                            </button> 
                            <% if(typeof successMessage !== 'undefined') { %>
                                <p style="color:green; font-size: 20px;  font-family: 'Times New Roman', Times, serif;"><%= successMessage %></p>
                            <% } else if (typeof errorMessage !== 'undefined') { %>
                                <p style="color: red; font-size: 20px;  font-family: 'Times New Roman', Times, serif;" ><%= errorMessage %></p>
                            <% } %>                           
                            <form id="newAddressForm" style="display: none;" method="post"  onsubmit="return validateAddressForm()">                               
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="street">Street</label>
                                        <input type="text" class="form-control" id="street" placeholder="Enter street" name="street">
                                        <div id="streetError" class="error" style="color: red;"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
                                        <div id="cityError" class="error" style="color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" placeholder="Enter state" name="state">
                                        <div id="stateError" class="error" style="color: red;"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="country">Country</label>
                                        <input type="text" class="form-control" id="country" placeholder="Enter country" name="country">
                                        <div id="countryError" class="error" style="color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="postalCode">Postal Code</label>
                                    <input type="number" class="form-control" id="postalCode" placeholder="Enter postal code" name="postalCode">
                                    <div id="postalCodeError" class="error" style="color: red;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="addressType">Address Type</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type" id="homeRadio" value="home">
                                        <label class="form-check-label" for="homeRadio">Home</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type" id="workRadio" value="work">
                                        <label class="form-check-label" for="workRadio">Work</label>
                                    </div>
                                    <div id="addressTypeError" class="error" style="color: red;"></div>
                                </div>
                                <button type="button" class="btn btn-outline-primary mb-3" id="useCurrentLocationButton">
                                    <i class="material-symbols-outlined" style="margin-right: 5px;">my_location</i>
                                    Use My Current Location
                                </button>
                                <button type="submit" class="btn" style="background-color: #004643; color: white;">Submit</button>
                            </form>
                        </div>                                               
                        <div class="card-body" id="showUserDetails">
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text-dark">First Name:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= user.firstname %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text-dark">Last Name:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= user.lastname %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text-dark">Username:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= user.username %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text-dark">Email:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= user.email %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text-dark">phone Number:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              +91 <%= user.mobile %>
                            </div>
                          </div>
                            <hr>
                            <% if (user.address && user.address.length > 0) { %>
                                <% user.address.forEach((address, index) => { %>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0 text-dark">Address <%= index + 1 %>:</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <p><%= address.street %>, <%= address.city %>, <%= address.state %>, <%= address.postalCode %>, (<%= address.type %>)</p>
                                        </div>                                      
                                    </div>
                                    <a href="/edit-address?id=<%= user._id %>&addressId=<%= address._id %>"><p style="text-align: right; color: #004643;">Edit</p></a>
                                    <a href="/delete-address?id=<%= user._id  %>&addressId=<%= address._id %>"><p style="text-align: right; color: #004643;">Delete</p></a>
                                    <hr>
                                <% }) %>
                            <% } else { %>
                                <p>No addresses found.</p>
                            <% } %>                            
                           
                          <div class="row">
                            <div class="col-sm-12">
                              <a class="btn cusotm-dark-green "id="EditUserDetails" href="/edit-user?id=<%= user._id %>">Edit</a>
                            </div>
                          </div>
                        </div>
                      </div>   
                    <div class="container p-0">
                        <div class="row gutters-sm">
                            <div class="col-sm-6 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Manage Address</h6>
                                        <a href="" id="addAddressButton" class="btn btn-primary mb-3">+ Add New Address</a>                                       
                                        <% if (user.address && user.address.length > 0) { %>
                                            <div id="currentAddressContainer">
                                                <label for="currentAddress">Current Address:</label>
                                                <p id="currentAddress">
                                                    Street:<%= user.address[user.address.length-1].street %>, <%= user.address[user.address.length-1].city %>, <%= user.address[user.address.length-1].country %>
                                                    <br>
                                                    Pin:<%= user.address[user.address.length-1].postalCode %>
                                                </p>
                                            </div>
                                            <% } else { %>
                                             <p>No Address found.</p>
                                        <% } %>                           
                                    </div>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center mb-3">
                                            <span class="material-symbols-outlined">
                                                credit_card
                                            </span>
                                            <h6 class="mb-0 text-dark">PAYMENTS</h6>
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item"><a href=""> Payment History</a></li>
                                            <li class="list-group-item"><a href=""> Gift Cards</a></li>
                                            <li class="list-group-item"><a href=""> Saved UPI</a></li>
                                            <li class="list-group-item"><a href=""> Saved Cards</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>                    
                  </div>   
                </div>
            </div>
    </main>   
    <script>
        function displayNewAddressForm() {
            document.getElementById("showUserDetails").style.display = "none";
            document.getElementById("newAddressForm").style.display = "block";
            document.getElementById('closeAddressFormButton').style.display = "block";
        }
    
        function displayUserDetails() {
            document.getElementById("newAddressForm").style.display = "none";
            document.getElementById("showUserDetails").style.display = "block";
            document.getElementById('closeAddressFormButton').style.display = "none";
        }
    
        document.getElementById("addAddressButton").addEventListener("click", function(event) {
            event.preventDefault();
            displayNewAddressForm();
        });
    
        document.getElementById("closeAddressFormButton").addEventListener("click", function(event) {
            event.preventDefault();
            displayUserDetails();
        });


        //validation
        function validateAddressForm() {
        const street = document.getElementById('street').value.trim();
        const city = document.getElementById('city').value.trim();
        const state = document.getElementById('state').value.trim();
        const country = document.getElementById('country').value.trim();
        const postalCode = document.getElementById('postalCode').value.trim();
        const addressTypeHome = document.getElementById('homeRadio').checked;
        const addressTypeWork = document.getElementById('workRadio').checked;
    
        const streetRegex = /^[a-zA-Z0-9\s,.'-]*$/;
        const cityRegex = /^[a-zA-Z0-9\s,.'-]*$/;
        const stateRegex = /^[a-zA-Z0-9\s,.'-]*$/;
        const countryRegex = /^[a-zA-Z0-9\s,.'-]*$/;
        const postalCodeRegex = /^[1-9][0-9]{5}$/;
       
        const streetErrors = [];
        const cityErrors = [];
        const stateErrors = [];
        const countryErrors = [];
        const postalCodeErrors = [];
        const addressTypeErrors = [];

        if (!street) {
            streetErrors.push('Street field is required');
        } else if (!streetRegex.test(street)) {
            streetErrors.push('Invalid street format');
        }
        if(!city){
            cityErrors.push('city field is required');
        }else if(!cityRegex.test(city)){
            cityErrors.push('Invalid city format');
        }
        if(!state){
            stateErrors.push('state field is required');
        }else if(!stateRegex.test(state)){
            stateErrors.push('Invalid state format');
        }
        if(!country){
            countryErrors.push('Country field is required');
        }else if(!countryRegex.test(country)){
            countryErrors.push('Invalid country format');
        }
        if (!postalCode) {
        postalCodeErrors.push('Postal code field is required');
        } else if (!postalCodeRegex.test(postalCode)) {
        postalCodeErrors.push('Invalid postal code format');
        }
        if (!addressTypeHome && !addressTypeWork) {
        addressTypeErrors.push('Address type is required');
        }
       
        const streetError = document.getElementById('streetError');
        streetError.innerHTML = streetErrors.join('<br>');
        const cityError = document.getElementById('cityError');
        cityError.innerHTML = cityErrors.join('<br>');
        const stateError = document.getElementById('stateError');
        stateError.innerHTML = stateErrors.join('<br>');
        const countryError = document.getElementById('countryError');
        countryError.innerHTML = countryErrors.join('<br>');
        const postalCodeError = document.getElementById('postalCodeError');
        postalCodeError.innerHTML = postalCodeErrors.join('<br>');
        const addressTypeError = document.getElementById('addressTypeError');
        addressTypeError.innerHTML = addressTypeErrors.join('<br>');
    
        return streetErrors.length === 0 && cityErrors.length === 0 && stateErrors.length === 0 && countryErrors.length === 0 && postalCodeErrors.length === 0 && addressTypeErrors.length === 0;
  
    }
    </script>   
</body>
</html>