<%- include('../userLayout/header') %>
<style>
  .product-label {
  position: absolute;
  top: 26px;
  left: -35px;
  z-index: 2;
  border-radius: 5px;
  transform: rotate(-45deg);
  padding: 7px 26px;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.out-of-stock-product {
    filter: brightness(92%); 
}

.out-of-stock {
    color: red;
}
</style>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow" style="color: #000000;">Home</a>
                    <span></span> SHOP
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">688</strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a href="#">Price: Low to High</a></li>
                                            <li><a href="#">Price: High to Low</a></li>
                                            <li><a href="#">Release Date</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <% product.forEach(productItem => { %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30 <%= productItem.productStatus === 'Limit-Exceeded' ? 'Limit-Exceeded-product' : '' %> <%= productItem.status === 'out-of-stock' ? 'out-of-stock-product' : '' %>">
                                        
                                        <div class="product-img-action-wrap">
                                            <% if (productItem.productStatus === 'Limit-Exceeded') { %>
                                                <div class="product-label limit-exceeded-label">
                                                    <span class="badge bg-warning text-dark">Limit Exceeded</span>
                                                </div>
                                                <% } else if (productItem.status === 'out-of-stock') { %>
                                                    <div class="product-label">
                                                        <span class="badge bg-danger">Out of stock</span>
                                                    </div>
                                            <% } %>
                                            <div class="product-img product-img-zoom">
                                                <a href="/product-view?id=<%= productItem._id %>">
                                                    <img class="default-img" src="/assets-admin/productImages/<%= productItem.images[productItem.images.length - 1]%>"  alt="">
                                                    <img class="hover-img" src="<%= productItem.imageUrl %>" alt="">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                    <i class="fi-rs-search"></i>
                                                </a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#">
                                                    <i class="fi-rs-heart"></i>
                                                </a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="#">
                                                    <i class="fi-rs-shuffle"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="#"><%= productItem.category %></a>
                                            </div>
                                            <h2><a href=""><%= productItem.title %></a></h2>
                        
                                            <div class="product-price">
                                                <span>Rs.<%= productItem.afterDiscount %>/-</span>
                                                <span class="old-price">Rs.<%= productItem.price %> /-</span>
                                            </div>
                                            <div class="product-status">
                                                <span class="<%= productItem.status === 'out-of-stock' ? 'out-of-stock' : 'active' %>"><%= productItem.status %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"  onclick="addToCart('<%= productItem._id %>')">
                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>                                               
                        <!--pagination-->
                        <!-- <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                </ul>
                            </nav>
                        </div> -->
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-20" id="category-list-container">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul id="category-list">
                                <% if (category) { %>
                                    <% for (let i = 0; i < category.length; i++) { %>
                                        <li><a href="#" class="category-link" data-category="<%= category[i].name %>"><%= category[i].name %></a></li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div id="products-container">
                            <!-- Products will be dynamically listed here -->
                            <!-- Each product element may have data attributes indicating its categories -->
                        </div>
                       
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10 text-dark">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900 text-dark">BOOKHUB</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Popular</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Trending</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Latest</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Most buyed</span></label>
                                    </div>
                                    <label class="fw-900 mt-15 text-dark">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>Hard copy (100)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>soft copy (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Audio books(111)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="./assets/js/shop.js?v=3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- ajax request to the sever -->
    <script>
        async function addToCart(productId) {
            try{
                let response = await fetch('/add-to-cart',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json',
                    },
                    body: JSON.stringify({
                        productId,
                                             
                    })
                });
                let title, text, iconClass;
                if (response.status === 200){
                    await Swal.fire({
                        title: 'Item added to cart!',
                        text: '',
                        icon: "success",
                        type: 'success',
                        timer: 1500,
                        timerProgressBar: true,
                    });
                    window.location.reload();
                } else if( response.status ===205){
                    await Swal.fire({
                        title:'Sorry! Out of Stock',
                        text:'Stock limit exceeded',
                        icon: 'error',
                        
                    });
                    window.location.reload();
                }else {
                    title = 'Error';
                    text = 'Failed to add item to the cart.';
                    iconClass = 'error';
                }
            }catch(error){
                console.log(error.message);
                await Swal.fire({
                    title: 'Error',
                    text: 'An error occurred.',
                    icon: 'error',
                    position: 'center',
                    showConfirmButton: false,
                    timer: 2000,

                });
            }
        }

    document.addEventListener("DOMContentLoaded", function() {
    const PopularCheckbox = document.getElementById("exampleCheckbox1");
    PopularCheckbox.addEventListener("click", function(){
        sortProductsByPopularity();
    });

    function sortProductsByPopularity(){
        if (PopularCheckbox.checked) {
            fetch("/api/popular-products")
            .then(response => response.json())
            .then(data => {
                updateProductList(data);
            })
            .catch(error => console.log("Error fetching the product",error));
        } else {
            fetch("/api/all-products") 
            .then(response => response.json())
            .then(data => {
                updateProductList(data);
            })
            .catch(error => console.log("Error fetching the product",error));
        }
    }

    function updateProductList(products) {
        const productListContainer = document.querySelector('.product-grid-3'); 

        productListContainer.innerHTML = ""; 

        products.forEach(product => {
            const productElement = document.createElement("div");
            productElement.classList.add("col-lg-4", "col-md-4", "col-12", "col-sm-6");
            productElement.innerHTML = `
                <div class="product-cart-wrap mb-30 ${product.productStatus === 'Limit-Exceeded' ? 'Limit-Exceeded-product' : ''} ${product.status === 'out-of-stock' ? 'out-of-stock-product' : ''}">
                    <div class="product-img-action-wrap">
                        ${product.productStatus === 'Limit-Exceeded' ? 
                        `<div class="product-label limit-exceeded-label">
                            <span class="badge bg-warning text-dark">Limit Exceeded</span>
                        </div>` : 
                        product.status === 'out-of-stock' ? 
                        `<div class="product-label">
                            <span class="badge bg-danger">Out of stock</span>
                        </div>` : ''}
                        <div class="product-img product-img-zoom">
                            <a href="/product-view?id=${product._id}">
                                <img class="default-img" src="/assets-admin/productImages/${product.images[product.images.length - 1]}" alt="">
                                <img class="hover-img" src="${product.imageUrl}" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                <i class="fi-rs-search"></i>
                            </a>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a aria-label="Compare" class="action-btn hover-up" href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a href="#">${product.category}</a>
                        </div>
                        <h2><a href="">${product.title}</a></h2>

                        <div class="product-price">
                            <span>Rs.${product.afterDiscount}/-</span>
                            <span class="old-price">Rs.${product.price} /-</span>
                        </div>
                        <div class="product-status">
                            <span class="${product.status === 'out-of-stock' ? 'out-of-stock' : 'active'}">${product.status}</span>
                        </div>
                        <div class="product-action-1 show">
                            <a aria-label="Add To Cart" class="action-btn hover-up"  onclick="addToCart('${product._id}')">
                                <i class="fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>
                </div>
            `;
            productListContainer.appendChild(productElement);
        });
    }
});




</script>
</body>
</html>